* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    width: 595px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: 1.2;
}

header,
footer {
    background-color: #E2C57F;
    width: 100%;
    height: 44px;

}

header {
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 65px;
}

.nav-list a:hover,
aside a:hover {
    color: #fff;
}

.main {
    background-color: #E5E3E6;
    display: grid;
    grid-template-columns: 192px 403px;
}

.wrapper {
    padding: 0 20px;
    width:calc(100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.title {
    width: 100%;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
    text-align: center;
}

.age {
    position: relative;
    left: 297px;
    top: -6px;
}

.profession {
    padding: 8px 0px;
    margin-top: 38px;
    width: auto;
    background-color: #E2C57F;
    line-height: 20.4px;
    letter-spacing: 0.01em;
    text-align: center;
}

.profession,
.age {
    font-size: 17px;
    text-transform: uppercase;
}

.profile h2,
.skills h2,
.code-example h2 {
    margin-bottom: 14px;
}

.profile-description {
    font-size: 10px;
}

.profile-description:last-of-type {
    margin-top: 5px;
}

.profile b {
    font-size: 10px;
}

.skills,
.experience {
    width: 100%;
}

.skills-list {
    margin-left: 6px;
    width: 363px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 11px;
    line-height: 13.2px;
    gap: 20px;
}

.skills-list li::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    width: 4px;
    height: 4px;
    margin-right: 6px;
    background-color: #000;
    border-radius: 50%;
}

.skills-list ul {
    margin-left: 17px;
}

.experience h2 {
    margin-bottom: 8px;
}


.project-preview {
    padding: 4px;
    border-radius: 11px;
    background-color: #E5E3E6;
}

.project-preview img {
    display: block;
    margin:auto;
    width:auto;
    width:171px;
    height: 98px;
    border-radius: 7px;
}

.project-preview:hover {
    background-color: #E2C57F;
}

.project-preview img:hover {
    opacity: 0.5;
}

.project {
    margin-top: 2px;
    position: relative;
    left: -4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.project-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-description h3 {
    width: 92px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
}

a:hover svg path{
    fill:#E2C57F;
}

.code-example {
    width: 100%;
    margin-bottom: 15px;
}

.code-wrapper {
    display: grid;
    grid-template-columns: 116px auto;

}

.task-text {
    font-size: 10px;
    font-style: italic;
    letter-spacing: -0.02em;
}

.task-text span {
    font-size: 39px;
    line-height: 1;

}

.task-text b {
    font-size: 10px;
}

code {
    display: block;
    position: relative;
    height: 136px;
    left: 20px;
    padding:15px 0px 15px 20px;
    background-color: #E2C57F;
    font-family: 'Source Code Pro';
    font-size: 10px;
    line-height: 1.5;
}

code span {
    margin-left: 12px;
}

.footer-gh a {
    font-size: 6px;
    text-decoration: underline;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap:193px;
}

.footer div {
    align-self: center;
}

.footer-gh {
    text-transform: uppercase;
    justify-self: end;
}

.footer-gh a {
    font-weight: 700;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.footer-gh img {
    display: block;
    width:20px;
}

.footer-gh p {
    display:block;
}
.footer-gh a:hover {
    color:#fff;
}
.footer-year {
    font-size: 10px;
    font-weight:900;
}

.footer-logo img {
    height: 20px;
    width:auto;
}

.aside {
    width: 192px;
    height: 100%;
    background-color: #D5CDC2;
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
}

.aside a {
    text-decoration: underline;
}

.profile-photo {
    width: 152px;
    height: 241px;
    border-radius: 7px;
}

.contacts img {
    width: 20px;
    height: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.26em;
}

.contacts-list {
    margin-top: 14px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contacts-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.education-list {
    border-left: 2px solid #E2C57F;
    margin-top: 13px;
    margin-left: 6px;
}

.education-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 9px;
}

.education-list li:first-of-type::before {
    content: "";
}

.education-list li:last-of-type::after {
    content: "";
}

.education li:last-of-type {
    margin-bottom: 0;
}

.year {
    font-size: 11px;
    font-weight: 700;
    background-color: #E2C57F;
    display: inline-block;
    padding: 1px 6px 0 5px;
    border-radius: 0px 2px 2px 0px;
}

h3,
a h3 {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

a h3 {
    text-decoration: underline;
    font-style: italic;
}

.education a,
h3,
a>h3,
.course-name {
    padding-left: 5px;
}

.course-name {
    font-size: 11px;
}

.language-list {
    margin-top: 15px;
    list-style: inside;
    list-style-position: outside;
    margin-left: 17px;
}


.language {
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}