* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    width: 595px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #E5E3E6;
}



header {
    background-color: #E2C57F;
    width: 100%;
    height: 44px;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 65px;
}

.main {
    display: grid;
    grid-template-columns: 192px auto;
}

.wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.title {
    width:100%;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
    text-align:center;
}

.age {
    position: relative;
    left: 296px;
    top: -14px;
}
.profession {
    padding :8px 0px;
    margin-top:38px;
    width:auto;
    background-color: #E2C57F;
    text-align: center;
}
.profession,
.age {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
}

.aside {
    width: 192px;
    height: 100%;
    background-color: #D5CDC2;
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
}

.aside a {
    text-decoration: underline;
}

img {
    width: 152px;
    height: 241px;
    border-radius: 7px;
}

.contacts img {
    width: 20px;
    height: 20px;
}

h2 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.26em;
}

.contacts-list {
    margin-top: 14px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contacts-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.education-list {
    border-left: 2px solid #E2C57F;
    margin-top: 13px;
    margin-left: 6px;
}

.education-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom:9px;
}

.education-list li:first-of-type::before {
    content: "";
}

.education-list li:last-of-type::after {
    content: "";
}
.education li:last-of-type {
    margin-bottom: 0;
}

.year {
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    background-color: #E2C57F;
    display: inline-block;
    padding: 1px 6px 0 5px;
    border-radius: 0px 2px 2px 0px;
}

h3,
a h3 {
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    text-transform: uppercase;
}

a h3 {
    text-decoration: underline;
    font-style: italic;
}

.education a,
h3,
a>h3,
.course-name {
    padding-left: 5px;
}

.course-name {
    font-size: 11px;
    line-height: 13px;
}

.language-list {
    margin-top: 15px;
    list-style: inside;
    list-style-position: outside;
    margin-left: 17px;
}


.language {
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}